* {
  box-sizing: border-box;
  font-family: -apple-system, system, sans-serif;
  font-size: 10pt;
}

th {
    background-color: #aaa;
}

tr:nth-child(even) {
    background-color: #ccc;
}

tr:nth-child(odd) {
    background-color: #ddd;
}

.edit-row {
    min-width: 10px;
    max-width: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
}

#popDumpTable {
    opacity: 0;
    display: inline-block;
    transition: opacity linear 100ms;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 10px;
    padding: 5px;
}

#popDumpTable:after,
#popDumpTable:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#popDumpTable:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 19px;
    bottom: 70%;
    margin-bottom: -19px;
}

#popDumpTable:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #000;
    border-width: 20px;
    bottom: 70%;
    margin-left: -20px;
}

#btnDump:hover + #popDumpTable {
    opacity: 1;
}

.grab {
    display: block;
    padding: 3px;
    width: 16px;
    height: 16px;
    background-color: transparent;
    cursor: pointer;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.right-wedge {
    width: 0;
    height: 0;
    margin-left: auto;
    margin-right: auto;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid black;
}

.grab:active {
    background-color: #222;
}

.grab:active .right-wedge {
    border-left: 6px solid #ddd;
}

.highlight-top {
    border-top: 2px solid #5aa;
}

.highlight-bottom {
    border-bottom: 2px solid #5aa;
}