* {
  box-sizing: border-box;
  font-family: -apple-system, system, sans-serif;
  font-size: 10pt;
}

th {
    background-color: #aaa;
}

tr:nth-child(even) {
    background-color: #ccc;
}

tr:nth-child(odd) {
    background-color: #ddd;
}

.edit-row {
    min-width: 10px;
    max-width: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
}